{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div>
    <h1>Корзина покупок</h1>
</div>
<div>
    {% for item in cart %}
    {% with product=item.product %}
        <div>
            <img src="/media/{{product.photo}}" height="300px" width="500px" style="margin: 50px;">
        
            <p> {{ product.name }}</p>
            <p> {{ product.price }}</p>

            <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {% csrf_token %}
            {{ item.update_quantity_form.quantity }}
            {{ item.update_quantity_form.update }}
            <input type="submit" value="Обновить">
            </from>
        </div>
        <div>
            {{ item.total_price }}
        </div>
    {% endwith %}
    {% endfor %}
</div>
<div>
    Общая сумма покупок
    <small> {{ cart.get_total_price }}</small>
</div>
{%endblock%}